@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
::selection {
  background-color: #e01c9f; /* Red color from Tailwind CSS */
  color: white;
}


.modal-open {
  filter: blur(4px); /* You can adjust the blur amount as needed */
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
